.colour-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
}

.colour-square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 12rem;
  height: 12rem;
  border-radius: var(--border-radius);
  color: var(--neutral-light);
  margin: var(--padding);
}

.colour-text {
  margin: var(--padding-half);
}

.primary-light {
  background-color: var(--primary-light);
}

.primary {
  background-color: var(--primary);
}

.primary-dark {
  background-color: var(--primary-dark);
}

.secondary-light {
  background-color: var(--secondary-light);
}

.secondary {
  background-color: var(--secondary);
}

.secondary-dark {
  background-color: var(--secondary-dark);
}

.text {
  background-color: var(--text);
}

.base {
  background-color: var(--base-colour);
}

.primary-light > *,
.primary > *,
.primary-dark > *,
.text > * {
  color: var(--base-colour);
}

.elevation-gradient-wrapper {
  width: 90%;
}

.elevation-gradient {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
}

.elevation {
  flex-grow: 1;
  padding: var(--padding-double);
}

.elevation:first-child {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.elevation:last-child {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.monserrat-example {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

blockquote {
  font-size: 2rem;
  padding: var(--padding-double);
}

@media only screen and (min-width: 37.5rem) {
  .elevation-gradient {
    flex-direction: row;
  }

  .elevation {
    padding: var(--padding-double) 0;
  }

  .elevation:first-child {
    border-top-right-radius: unset;
    border-bottom-left-radius: var(--border-radius);
  }
  
  .elevation:last-child {
    border-bottom-left-radius: unset;
    border-top-right-radius: var(--border-radius);
  }

  blockquote {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 56.25rem) {
  .colour-wrapper {
    flex-direction: row;
  }
}

@media only screen and (min-width: 75rem) {
  blockquote {
    font-size: 3rem;
  }
}
