.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../heros/flamingos.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.hero-grid {
  display: grid;
  grid-template-areas: 
    "logo"
    "title"
    "text"
    "icons";
  gap: 1.5rem;
  justify-items: center;
  align-items: center;
  margin: auto;
}

.hero-logo {
  grid-area: logo;
  width: 10rem;
}

.hero-title-wrapper {
  grid-area: title;
  display: flex;
  flex-direction: column;
}

.hero-title {
  margin: auto;
  font-size: 4rem;
  line-height: 1;
}

.hero-text {
  grid-area: text;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: .25rem;
}

.hero-icon-wrapper {
  grid-area: icons;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.hero-icon {
  width: 3rem;
}

@media only screen and (min-width: 37.5rem) {
  .hero-grid {
    grid-template-areas: 
      "logo title"
      "text text"
      "icons icons";
    gap: 1.75rem;
  }

  .hero-title {
    font-size: 6rem;
    margin-left: 0;
  }

  .hero-text {
    font-size: 2.25rem;
    letter-spacing: .5rem;
  }

  .hero-icon-wrapper {
    width: 12rem;
  }

  .hero-icon {
    width: 3.5rem;
  }
}

@media only screen and (min-width: 56.25rem) {
  .hero-grid {
    gap: 2.25rem;
  }

  .hero-logo {
    width: 12rem;
  }

  .hero-title {
    font-size: 7rem;
  }

  .hero-text {
    font-size: 2.5rem;
    letter-spacing: .75rem;
  }

  .hero-icon-wrapper {
    width: 13.5rem;
  }

  .hero-icon {
    width: 4rem;
  }
}

@media only screen and (min-width: 75rem) {
  .hero-grid {
    gap: 2.75rem;
  }

  .hero-logo {
    width: 16rem;
  }

  .hero-title {
    font-size: 9rem;
  }

  .hero-text {
    font-size: 3rem;
    letter-spacing: 1rem;
  }

  .hero-icon-wrapper {
    width: 15rem;
  }

  .hero-icon {
    width: 5rem;
  }
}

@media only screen and (min-width: 112.5rem) {
  .hero-grid {
    gap: 3.5rem;
  }

  .hero-logo {
    width: 20rem;
  }

  .hero-title {
    font-size: 12rem;
  }

  .hero-text {
    font-size: 3.75rem;
    letter-spacing: 1.5rem;
  }

  .hero-icon-wrapper {
    width: 17rem;
  }

  .hero-icon {
    width: 6rem;
  }
}