@import "hero.css";
@import "role-tech-list.css";

.role-details-wrapper {
  display: flex;
  flex-direction: column;
}

.role-details {
  margin: .25rem;
}

.role-tech-wrapper {
  display: inline-block;
  max-width: 90%;
  margin: .5rem;
}

.role-tech {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.role-tech > * {
  margin: .5rem;
}

.role-description {
  margin-top: 1.5rem;
}

@media only screen and (min-width: 37.5rem) {
  .role-title {
    margin: 0 auto auto;
  }

  .role-details-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .role-tech > * {
    height: 1.75rem;
    margin: .75rem;
  }
}

@media only screen and (min-width: 56.25rem) {

}

@media only screen and (min-width: 75rem) {
  .role-tech > * {
    height: 2rem;
    margin: 1rem;
  }
}

@media only screen and (min-width: 112.5rem) {

}