@import "hero.css";
@import "role-tech-list.css";

.role-details {
  display: grid;
  grid-template-areas: 
    "organisation"
    "location"
    "time"
    "type";
  justify-items: center;
  align-items: center;
  gap: var(--half-padding);
}

.role-organisation {
  grid-area: organisation;
}

.role-location {
  grid-area: location;
}

.role-time {
  grid-area: time;
}

.role-type {
  grid-area: type;
}

.role-tech-wrapper {
  display: inline-block;
  max-width: 90%;
}

.role-tech {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.role-tech > * {
  margin: var(--half-padding);
}

@media only screen and (min-width: 37.5rem) {
  .role-details {
    width: 75%;
    grid-template-areas: 
      "organisation time"
      "location type";
    justify-content: space-between;
  }

  .role-organisation,
  .role-location {
    justify-self: left;
  }

  .role-time,
  .role-type {
    justify-self: right;
  }

  .role-tech > * {
    height: 1.75rem;
    margin: .75rem;
  }
}

@media only screen and (min-width: 75rem) {
  .role-tech > * {
    height: 2rem;
    margin: 1rem;
  }
}