@import "https://necolas.github.io/normalize.css/8.0.1/normalize.css";
@import "assets/styles/css-variables.css";
@import "assets/styles/site-header.css";
@import "assets/styles/body.css";
@import "assets/styles/button.css";

* {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
}

h1 {
  color: var(--neutral-light);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

hr {
  height: 10px;
  border: none;
}

hr.major {
  width: 90%;
  background: radial-gradient(ellipse farthest-side at top center, var(--primary), transparent);
}

hr.minor {
  width: 70%;
  background: radial-gradient(ellipse farthest-side at top center, var(--neutral), transparent);
}