.colour-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.colour-square {
  display: flex;
  width: 12rem;
  height: 12rem;
  border: solid .15rem var(--neutral-dark);
  border-radius: 1rem;
  color: var(--neutral-light);
  margin: 1rem;
}

.colour-square-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.primary-light {
  background-color: var(--primary-light);
}

.primary {
  background-color: var(--primary);
}

.primary-dark {
  background-color: var(--primary-dark);
}

.nero {
  background-color: var(--neutral-dark);
}

.grey {
  background-color: var(--neutral);
}

.white-smoke {
  background-color: var(--neutral-light);
  color: var(--neutral-dark);
}

.monserrat-example {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}