.body-wrapper {
  display: flex;
  background-color: var(--neutral);
  text-align: center;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--base-colour);
}

.body-header {
  display: flex;
  padding: var(--double-padding) 0;
  margin-top: 4rem;
  width: 100%;
}

.body-header-text {
  color: var(--text);
  font-size: 3rem;
  margin: auto;
}

.content {
  margin: var(--double-padding) auto;
  display: grid;
  gap: var(--double-padding);
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 37.5rem) {
  .body-header-text {
    font-size: 5rem;
  }

  .content {
    margin: var(--double-padding);
  }
}

@media only screen and (min-width: 56.25rem) {
  .content {
    max-width: 50rem;
  }
}

@media only screen and (min-width: 75rem) {
  .content {
    max-width: 70rem;
  }
}

@media only screen and (min-width: 112.5rem) {
  .content {
    max-width: 80rem;
  }
}