.body, .content {
  display: grid;
  gap: var(--padding-double);
  grid-template-columns: 1fr;
}

.body {
  width: 100%;
  justify-items: center;
  background-color: var(--base-colour);
  text-align: center;
}

.body-header {
  display: flex;
  padding: var(--padding-double) 0;
  margin-top: calc(var(--padding) * 2 + 2rem);
  width: 100%;
}

.body-header-text {
  color: var(--text);
  font-size: 3rem;
  margin: auto;
}

@media only screen and (min-width: 37.5rem) {
  .body-header {
    margin-top: calc(var(--padding) * 2 + 2.25rem);
  }

  .body-header-text {
    font-size: 5rem;
  }
}

@media only screen and (min-width: 56.25rem) {
  .content {
    max-width: 50rem;
  }

  .body-header {
    margin-top: calc(var(--padding) * 2 + 2.5rem);
  }
}

@media only screen and (min-width: 75rem) {
  .content {
    max-width: 70rem;
  }
}

@media only screen and (min-width: 112.5rem) {
  .content {
    max-width: 80rem;
  }
}