.elev-1 {
  background-color: var(--elevation-1);
}

.elev-2 {
  background-color: var(--elevation-2);
}

.elev-3 {
  background-color: var(--elevation-3);
}

.elev-4 {
  background-color: var(--elevation-4);
}

.elev-5 {
  background-color: var(--elevation-5);
}

.elev-6 {
  background-color: var(--elevation-6);
}

.elev-7 {
  background-color: var(--elevation-7);
}

.elev-8 {
  background-color: var(--elevation-8);
}

.elev-9 {
  background-color: var(--elevation-9);
}

