.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  padding: var(--padding) 0;
  z-index: 1000;
}

.site-header-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: auto;
}

.site-header-wrapper:hover, .site-header-wrapper:active {
  text-decoration: underline;
  text-decoration-color: var(--primary);
  text-decoration-style: double;
}

.site-header-logo {
  height: 2rem;
}

.site-header-text {
  color: var(--text);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2rem;
  margin-left: var(--padding);
}

@media only screen and (min-width: 37.5rem) {
  .site-header-text {
    font-size: 2.25rem;
    line-height: 2.25rem;
  }

  .site-header-logo {
    height: 2.25rem;
  }
}

@media only screen and (min-width: 56.25rem) {
  .site-header-text {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .site-header-logo {
    height: 2.5rem;
  }
}
