.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  padding: var(--padding) 0;
  z-index: 1000;
}

.site-header-wrapper {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: auto;
}

.site-header-wrapper:hover, .site-header-wrapper:active {
  text-decoration: underline;
  text-decoration-color: var(--primary);
  text-decoration-style: double;
}

.site-header-logo {
  height: var(--padding-double);
}

.site-header-text {
  color: var(--text);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: var(--padding-double);
  line-height: var(--padding-double);
  margin-left: var(--padding);
}