button {
  background-color: var(--primary);
  border: none;
  border-radius: .5rem;
  color: var(--neutral-light);
  padding: 1.25rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: 600;
  box-shadow: 0px 8px 15px var(--neutral);
}

button:hover {
  transform: translateY(-0.2rem);
  background-color: var(--primary-dark);
}

button:active {
  transform: translateY(0.2rem);
  background-color: var(--primary-light);
}