a.button {
  background-color: var(--primary);
  color: var(--neutral-light);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-size: 1.75rem;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  padding: 6px 12px;
  box-shadow: 0px 8px 15px var(--neutral);
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a.button:hover {
  transform: translateY(-0.2rem);
  background-color: var(--primary-dark);
}

a.button:active {
  transform: translateY(0.2rem);
  background-color: var(--primary-light);
}

a.button-icon {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a.button-icon:hover {
  transform: translateY(-0.2rem);
}

a.button-icon:active {
  transform: translateY(0.2rem);
}