/* TODO: Swap colour names for generics like primary, primary-dark */

:root {
  --primary-light: #2DCCA7;
  --primary: #17B897;
  --primary-dark: #079A82;
  --neutral-light: #F7F7F7;
  --neutral: #7E7E7E;
  --neutral-dark: #222222;
}