.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  background-color: var(--neutral-light);
  padding: 1rem 0;
  border-bottom: solid .2rem var(--neutral-dark);
}

.site-header-wrapper {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: auto;
}

.site-header-wrapper:hover, .site-header-wrapper:active {
  text-decoration: underline;
  text-decoration-color: var(--primary);
  text-decoration-style: double;
}

.site-header-logo {
  width: 2rem;
  height: 2rem;
}

.site-header-text {
  color: var(--neutral-dark);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0 .5rem
}